excel_operation
add_linux_users
Algo_programming
User_add_script
turtol_graphics
Python Content.docx
tut6.py
kt_python/tut15_13.2 Ex_sol_faulty_calculator.py
kt_python/tut14_13.1_Ex_Sol_Quiz_Age.py
kt_python/tut11_10.1_Meri_Dictionary_Ex_Sol.py
kt_python/tut16.1_For_loop_Quiz_G6_Sol.py
kt_python/tut20_18.1_Ex_Sol_Guess_N.py
kt_python/tut24.1_exercise.py
Deep Dive/built in exceptions.PNG
Deep Dive/dfjlksal.txt
Deep Dive/References.docx
Deep Dive/try except else finally.PNG
kt_python/demo.txt
kt_python/file_the caller.py
kt_python/file_to_be_called.py
kt_python/k_data.txt
kt_python/test2.py
kt_python/.vscode/settings.json
kt_python/__pycache__/file_to_be_called.cpython-38.pyc
kt_python/__pycache__/test1.cpython-38.pyc
kt_python/__pycache__/test2.cpython-38.pyc
kt_python/tut28_Exercise_sol_Health_Tracker.py
kt_python/arjun_data.txt
kt_python/karan_data.txt
kt_python/demo.txt
kt_python/All_Exercises.py
kt_python/Program_Solutions.py
kt_python/demo.txt
kt_python/reverse.txt
kt_python/test1.py
Deep Dive/Unwinding Python_Exceptions.pptx
Deep Dive/File Operations.pptx
kt_python/demo.txt
kt_python/virtual_env
kt_python/.idea/kt_python.iml
kt_python/.idea/misc.xml
kt_python/.idea/modules.xml
kt_python/.idea/vcs.xml
kt_python/.idea/inspectionProfiles/profiles_settings.xml
Deep Dive/Python Exercises.docx
Stackoverflow/Question and answeres for stack over flow.docx
kt_python/user_name.txt
kt_python/shyam.txt
kt_python/rahul.txt
pack_building/Instruction to build python pack.docx
test_pack/PACK_KAPIL/Licence.txt
test_pack/PACK_KAPIL/readme.txt
test_pack/PACK_KAPIL/setup.py
test_pack/PACK_KAPIL/dist/pack_kapil-0.1-py3-none-any.whl
test_pack/PACK_KAPIL/dist/pack_kapil-0.1.tar.gz
test_pack/PACK_KAPIL/pack_kapil/__init__.py
test_pack/PACK_KAPIL/pack_kapil.egg-info/dependency_links.txt
test_pack/PACK_KAPIL/pack_kapil.egg-info/PKG-INFO
test_pack/PACK_KAPIL/pack_kapil.egg-info/SOURCES.txt
test_pack/PACK_KAPIL/pack_kapil.egg-info/top_level.txt
kt_python/pro_data.txt
kt_python/data.txt
pack_building_Notes/Instruction to build python pack.docx
The disk space project/Disk space steps.docx
pack_building_Notes/commands History.txt
pack_building_Notes/Python package making and installation logs.txt
pack_building_Notes/spec file.txt
kt_python/Proj1. Pending_to_syntax.py
Python Notes.docx
kt_python/__pycache__/words.cpython-38.pyc

Time-out commands/Time-out os commands.docx
add_linux_users/
temp_virtual/
Django/

kt_python/words.py
kt_python/workspace.code-workspace
kt_python/test3.yml
test3.yml
